# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data and Models
*.npz
*.pth
data/
results/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db 