# Results directories
evaluation/results/
transformer/results/

# WandB logs and artifacts
wandb/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
sar/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Logs
*.log
**/*.err
**/*.out

# OS-specific
.DS_Store
Thumbs.db 

# env
.env

# pth files
*.pth